html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(65, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 806px;
  height: 406px;
  position: relative;
}

img {
  position: absolute;
}

canvas {
  width: 806px;
  height: 406px;
  position: absolute;
}


